// COLORS
$color-primary: #c43200;

$color-secondary: rgb(246, 242, 240);

$color-tertiary-dark: #054484;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 114rem;

$depth: 3rem;
$perspective: 100rem;
