*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    width: 100%;
    height: 100%;
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5% 
}


body {
    box-sizing: border-box;
    padding: 13rem;
    background-color: $color-secondary;  
    margin: 0 auto;
    max-width: 1440px;  
}

::selection {
    background-color: $color-primary;
    color: $color-white;
 }


 #nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
}

.nav__list {
	line-height: 1.5;
	color: $color-primary;
    text-decoration: none;
    text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-right: 1em;
    padding-left: 1em;
    transition: all 0.2s;
}

.nav__list:hover {
    transform: translateY(-3px);
    color: $color-tertiary-dark;
    @include text-shadow;    
}

.router-link-exact-active {
	color: $color-primary;
}




