@import url("https://fonts.googleapis.com/css?family=Overpass+Mono");

// background: #181818
// color: #FFF;
:root {
  --main-bg-color: #921f72;
  --word-spacing: 1px;
  --text-color-decoration: #F1F227;
  --text-color: #FFF;
  --text-color-secondary: #f86614;
}
html {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  color: var(--text-color);
  word-spacing: var(--word-spacing);
  font-family: "Overpass Mono", monospace;
  font-size: 1.3rem;
  // font-weight: 580;
  // text-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
  // transform: rotate(0.12deg);
  line-height: 1.5;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#app {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.3fr;
  padding: 1em;
}

#nav {
  padding: 2.5rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav__list {
  line-height: 1.5;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 1em;
 }

.nav__list:hover {
  color: var(--text-color-secondary);
}

h1 .heading {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (min-width: 1904px) {
  .container {
    max-width: 1400px;
  }
}



@media (max-width: 960px) {
  h1 .heading .title{
    font-size: 0.9em;
  }
html {
  font-size: 1rem; 
  }  
 }

 @media (max-width: 460px) {
   #nav {
    padding-bottom: 0;
   }
   h1 .heading {
    h1 {
      font-size: 22px;
      }
  }
html {
  font-size: 1rem; 
  } 
 }
