
@import "../sass/abstracts/functions";
@import "../sass/abstracts/mixins";
@import "../sass/abstracts/variables";

@import "../sass/base/animations";
@import "../sass/base/typography";
@import "../sass/base/base";
@import "../sass/base/utilities";

#nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
}

.nav__list {
	line-height: 1.5;
	color: $color-primary;
	text-decoration: none;
	letter-spacing: 0.1em;
	padding-right: 1em;
	padding-left: 1em;
}

.nav__list:hover {
	color: $color-primary;
}

.router-link-exact-active {
	color: $color-primary;
}


@media only screen and (min-width: 1904px) {
	.container {
		max-width: 1400px;
	}
}

@media (max-width: 960px) {
	h1 .heading .title {
		font-size: 1.1em;
	}
	html {
		font-size: 1.2rem;
	}
}

@media (max-width: 460px) {
	#nav {
		padding-bottom: 0;
	}
	h1 .heading {
		h1 {
			font-size: 22px;
		}
	}
	html {
		font-size: 1rem;
	}
}
